body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-h {
    padding-top: 0;
}


.container {
    max-width: 1280px;
    margin: 20px auto;   
}

.logo {
    font-size: 60px;
    font-family: "Myriad Pro";
    text-decoration: none;
    color: black;
}

.blue {
    color: #4dd5ff;
}

.navnav {
    margin-top: 20px;
    background-color: #36444f;
    display: inline-block;
    padding: 15px 231px;
    width: 100%;
    
}

.nav-link {
   
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all .5s;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, .2);
    border-color:white;
    
}

.content {
    margin-top: 50px;
}

.nav-menu {
    border: 1px solid black;
    width: 342px;
    height: 370px;
    
    display: inline-block;
}

.nav-menu--list {
    list-style: none;
    padding: 0; 
    margin: 0;  
}

.nav-menu--list a {
    text-decoration: none;
    color: #3f484d;
    padding: 20px 40px;
    display: block;
    font-size: 24px;
    transition: all .5s;
}

.nav-menu--list a:hover {    
    background-color: lightgray;
    color: black;
    padding-left: 50px;
}


.article {
    width: calc(100% - 390px);
    
    display: inline-block;
    border: 1px solid black;
    height: 500px;
    float: right;
}


.article-image {
    padding: 50px 300px;
    max-height: 600px;
    
}


.article-image img {
    width: 270px;
    height: 400px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;  
    
}


.article p{
    margin: 40px;
}


.footer-nav{
    padding: 20px 40px;
    margin-top: 330px;
    font-size: 20px;
    background-color: #b3b7ba;
}


.footer-nav a{
    text-decoration: none;
    padding: 20px;
    color: black;
}


.footer-nav a:hover{
    text-decoration:underline;
    padding: 20px;
    color: black;
    color:dodgerblue;
}



.footer-nav span{
    text-align: right;
    font-size: 20px;
    margin-left: 220px;
}