.whole {
    margin: 0;
    padding: 0;    
    background-image: url(../img/bg-image.jpeg);
    background-size: cover;
    background-image: 1280px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.journey-logo {
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-left: 60px;
    line-height: 60px;
}

.journey-logo:hover {
    color: #3cb878;
    cursor: pointer;
    
}

.above-part{
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.55);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-parent {
    margin-right: 100px;
    color: white;
    list-style: none;
    display: flex;
    margin-right: 50px;
}

.nav-item {
    margin-right: 10px;
}


.nav-link {
    text-decoration: none;
    color: #3cb878;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover{
    color: limegreen;
}




.nav-item img {
    width:20px; height:20px;
}



.nav-items-parent div {
    border-left: 1px solid #302e30;
    padding-left: 10px;
}

.nav-item a:hover {
  filter: invert(53%) sepia(90%) saturate(6800%) hue-rotate(149deg) brightness(100%) contrast(70%);
}

.nav-items-parent div :hover {
    text-decoration: underline;
}


.parent-of-blank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 805px;
    
}



.blank {
    align-items: center;
    margin-top: -155px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
}


.blank label {
    padding-top: 12px;
    padding-left: -20px;
}

.blank input {
    padding-left: 9px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius:4px;
    border: 1px solid lightgrey;
}

#agree {
    height: 18px;
    width: 18px; 
    margin-right: 10px;
}


#check-priv {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-left: -40px;
}



#check-priv span:hover {
    color: #25a72a;
    cursor: pointer;
}

.terms {
    padding-top: 10px;
}
.termsInside {
    color: #3cb878;
    text-decoration: none;
}

.termsInside:hover {
    text-decoration: underline;
}


.label-check {
  display: flex;
  cursor: pointer;
  justify-content: space-around;
}



.label-check span:hover {
  border-bottom: 1px solid #3cb878;
}


#button {
    margin: 0;
    width: 310px;
    height: 50px;
    background-color: #1bc022;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#button:hover {
    background-color: #329a65;
    transition: 0.5s;
}



#cube {
    position:absolute;
    margin-left: -47px;
    height: 17px;
    width: 17px;
    background-color:#3cb878;
    margin-top: 15px;
    
}
.internal-items {
    margin-top: 8px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 301px;   
}





.parent-int-items {
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 22px;
}


.blank input:focus{
    outline: none;
    box-shadow: 0px 2px 7px gray;
}


.login-link {
    text-decoration: none;
    color: #3cb878;  
    
}


.login-link:hover {
    color: #3cb878;
    text-decoration:underline;
}

.f-g {
    display: flex;
    padding-right: 9px;
    margin-left: 10px;
    height: 45px;
}


.empty-space {
    margin: 0 5px;
    
}

.f-button {
    
    border-radius: 3px;
    width: 148px;
    background-color: #305db8;
    display: flex;
    font-size: 16px;
    color: white;
    padding-top: 3px;
    justify-content: space-around;
    cursor: pointer;   
    outline: none;
    border: none;
    transition: all .2s ease;
}

.f-button:hover {
    background-color: #264b96;
}

.g-button {
    
    width: 145px;
    background-color: #c3412c;
    justify-content: space-around;
    font-size: 16px;
    display: flex;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .2s ease;

}

.g-button:hover {
    background-color:darkred;
}

button img {
    border-right: 1px solid grey;
    padding-right: 8px;
    padding-left: 4px;
}

.or {
    padding-top: 20px;
     display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.or:before,
.or:after {
    content: '';
    border-top: 1px solid lightgrey;
    margin: 0 20px 0 0;
    flex: 0 0 127px;
}

.or:after {
    margin: 0 0 0 20px;
}


  

